<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Escrever matéria</title>
	</head>
	<body>
		<form>
			<label for="title">Titulo:</label>
			<input type="text" name="title">	
			<label for="author">Autor:</label>
			<input type="text" name="author">	
			<label for="body">Body:</label>
			<input type="text" name="body">	
		</form>	
	</body>
</html>
