<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="msapplication-TileImage" content="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/ms-icon-144x144.png">

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="https://jc.uol.com.br/brasil">

        <!-- FACEBOOK -->
                <meta property="og:site_name" content="JC">
        <meta rel="title-matia" property="og:title" content="Sobe para 64 número de mortos em operação contra o Comando Vermelho no Rio; a mais letal da história do estado">
        <meta property="og:description" content="Entre as vítimas, estão quatro policiais. Os mortos incluem civis e suspeitos de envolvimento com o tráfico. Mais de 2.500 agentes foram mobilizados">
        <meta property="og:url" content="https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html" />

        
       
        
        <!-- image social embed -->
                <meta property="og:image" content="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/1224x674/1_whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2" />
        <meta property="og:image:width" content="1224" />
        <meta property="og:image:height" content="674" />
                <meta property="og:locale" content="pt_BR">
        <meta property="og:type" content="article" />
        <meta property="fb:app_id" content="649835981702614">
        <meta property="fb:pages" content="196984146984424" />
        <meta property="fb:admins" content="jornaldocommercioPE">
        <meta property="article:author" content="Aisha Vitória">
        <meta property="article:publisher" content="https://www.facebook.com/jornaldocommercioPE/">
        <meta property="article:published_time" content="2025-10-28 15:49:00">

        <!--FACEBOOK NEWS -->
        <meta property="article:opinion" content="" />
        <meta property="article:content_tier" content="metered" />
        <meta property="article:location" content="city:recife,pernambuco" />
        <meta property="article:location" content="county:pernambuco" />
        <meta property="article:location" content="region:brl" />

        <!--NEWS ESPORTS-->
        
        <!-- META TAGS -->
        <meta name="HandheldFriendly" content="True">

        <!-- ARTICLE -->
                    <meta property="article:tag" content="comando-vermelho">
                    <meta property="article:tag" content="operacao-policial">
                    <meta property="article:tag" content="violencia">
        
        <meta property="banner" content="Comando Vermelho, operação policial, violência">

        <meta name="application-name" content="JC">
        <meta name="msapplication-TileColor" content="#fff">
        <meta name="theme-color" content="#da291c">

        <!-- GENERALL -->
        <meta name="description" content="Entre as v&amp;iacute;timas, est&amp;atilde;o quatro policiais. Os mortos incluem civis e suspeitos de envolvimento com o tr&amp;aacute;fico. Mais de 2.500 agentes foram mobilizados">
        <meta name="author" content="Aisha Vitória">
        <meta name="robots" content="max-image-preview:large">
        <meta name="referrer" content="always">

                <!-- Correção embed do Flourish -->
                    <meta name="language" content="pt-br">
                <title>Sobe para 64 número de mortos em operação contra o Comando Vermelho no Rio; a mais letal da história do estado</title>

        <!-- Preconnect -->
        <link rel="preconnect" href="https://sjcc.ne10.uol.com.br">
        <link rel="preconnect" href="https://imagens.ne10.uol.com.br">

        <link id="url-images" rel="url-images" href="https://imagens.ne10.uol.com.br/template-unificado" data-url="https://imagens.ne10.uol.com.br/template-unificado">
        <link id="url-style-scripts" rel="url-style-scripts" href="https://sjcc.ne10.uol.com.br/template-unificado" data-url="https://imagens.ne10.uol.com.br/template-unificado">
        <link id="portal-url" rel="portal-url" title="JC" href="https://jc.uol.com.br">
                 <link id="logo-site" rel="logo-site" title="JC" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/logo/logo.webp">
                <link id="general-json" href="https://sjcc.ne10.uol.com.br/servicos/json/unificado/jcnew.json" data-portal="jc-new" data-slug="brasil" data-podcasts="Brasil">
        <link id="see-more" href="https://jc.uol.com.br/related/Comando Vermelho operação policial violência/?matia=21116915">

        <!-- favicon -->
        <link rel="shortcut icon" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/favicon-16x16.png">
        <link rel="stylesheet" href="https://sjcc.ne10.uol.com.br/template-unificado/css/portal-jc-new.css">

        <!-- Web Fonts -->
                    <link rel="preload" href="/fonts/oswald/oswald-v56-latin_latin-ext-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
            <link rel="stylesheet" href="/fonts/font-face.css">
        
        <!-- Regra de alteração de canonical para as agências -->

                    <link rel="canonical" href="https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html" data-matiaid="21116915" />
        
        <!-- /Regra de alteração de canonical para as agências -->
        
        <!-- privacytools -->
        <link rel="preconnect" href="https://cdn.privacytools.com.br">
        <link rel="stylesheet" href="https://cdn.privacytools.com.br/public_api/banner/style/VXXy6142.css?t=1" media="print" onload="this.onload=null;this.media='all'">
        <noscript><link rel="stylesheet" href="https://cdn.privacytools.com.br/public_api/banner/style/VXXy6142.css?t=1"></noscript>

        

        
                    <!-- UOL ADS LIBRARY -->
            <script>
        window.pushAds = window.pushAds || [];
    </script>
            
                            <script type="text/javascript" src="//tm.jsuol.com.br/uoltm.js?id=3mcyb5" async></script>
                <script src="https://tm.jsuol.com.br/modules/external/admanager/ne10_jornal_do_comercio_ads.js" defer></script>
            
                
        
                
        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-W8GNLB');
        </script>
        <!-- End Google Tag Manager -->

        <script>
            (function(i, s, o, g, r, a, m) {
              i['GoogleAnalyticsObject'] = r;
              i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
              a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
              a.async = 1;
              a.src = g;
              m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-111653872-1', 'auto');
        </script>

        <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "articleSection": "Brasil",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html"
        },
        "headline": "Sobe para 64 n&amp;uacute;mero de mortos em opera&amp;ccedil;&amp;atilde;o contra o Comando Vermelho no Rio; a mais letal da hist&amp;oacute;ria do...",
        "description": "Entre as v&amp;iacute;timas, est&amp;atilde;o quatro policiais. Os mortos incluem civis e suspeitos de envolvimento com o tr&amp;aacute;...", 
        "keywords": ["Comando Vermelho", "operação policial", "violência"],
        "datePublished": "2025-10-28T15:49:00Z",
        "dateModified": "2025-10-28T16:18:50Z",
        "publishingPrinciples": "https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html",
        "url": "https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html",
        "image": {
            "@type": "ImageObject",
            "url": "https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2",
            "width": "1920",
            "height": "1279"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Jornal do Commercio",
            "url": "https://jc.uol.com.br",
            "logo": {
                "@type": "ImageObject",
                "url": "https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/favicon/android-icon-192x192.png",
                "width": "192",
                "height": "192"
            }
        },
        "author": {
            "@type": "Person",
            "name": "Aisha Vitória",
            "sameAs":"https://jc.uol.com.br/autor/aisha-vitoria/"
        }
    }
</script>

<!-- BreadcrumbList -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "JC",
        "item": "https://jc.uol.com.br"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Brasil",
        "item": "https://jc.uol.com.br/brasil"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "Sobe para 64 n&amp;uacute;mero de mortos em opera&amp;ccedil;&amp;atilde;o contra o Comando Vermelho no Rio; a mais letal da hist&amp;oacute;ria do...",
        "item": "https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html"
        }]
    }
</script>

<!-- Person -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Recife",
            "addressRegion": "PE",
            "postalCode": "50040-100",
            "streetAddress": "Rua da Fundição, 257 - Santo Amaro"
        },
        "email": "mailto:atendimento@jc.com.br",
        "image": "https://jc.uol.com.br/dist/assets/images/logo/logo-jc2.webp",
        "jobTitle": "Jornalismo",
        "name": "Aisha Vitória",
        "telephone": "(81) 3413-6174",
        "url": "https://jc.uol.com.br"
    }
</script>                
        
                
    </head>
    

    <body id="jc-new" data-url="static\styles\style_materia.css">
                <div id="progress-bar"></div>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8GNLB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
                    <header id="header" class="header-jc">
    <div class="container">
        <div class="row">
                            <div class="col-xs-4 col-md-4">
                    <a href="https://impresso.jc.uol.com.br" class="edition">
                        <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/edicao.png" alt="Leia aqui a edição de hoje">
                        <h5>Edição do dia</h5>
                    </a>
                </div>
            
            <div class="col-xs-4 col-md-4">
                 
                    <a href="/" class="logo">
                        <figure>
                        <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/logo/logo.svg" alt="Página inicial do Jornal do Commercio">
                        </figure>
                    </a>    
                    
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="options">
                    <a href="#" class="toggle-menu">
                        <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-menu.svg" alt="menu">
                    </a>
                    <a href="#" class="toggle-search">
                        <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-busca.svg" alt="busca">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sidebar-menu">
    <button class="close-menu">fechar</button>
    <div class="search-sidebar">
        <form action="/search">
            <input type="text" name="q" placeholder="Pesquise" value="" required>
            
            <button type="submit"><img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-busca.svg" alt="busca"></button>
        </form>
    </div>
    <div class="side-scroll">
        <div class="lives">
            <button href="#">AO VIVO</button>
            <ul>
                <li><a href="https://radiojornal.com.br/ao-vivo">Rádio Jornal (RECIFE)</a></li>
                <li><a href="https://interior.ne10.uol.com.br/radio-jornal/caruaru">Rádio Jornal (INTERIOR)</a></li>
                <li><a href="https://tvjornal.com.br/ao-vivo">TV Jornal (RECIFE)</a></li>
                <li><a href="https://interior.ne10.uol.com.br/tv-jornal/ao-vivo">TV Jornal (INTERIOR)</a></li>
            </ul>
        </div>
                <nav>
            <ul>
                                                                                        <li>
                                <a href="https://digital.jc.uol.com.br/">JORNAL DIGITAL</a>
                            </li>
                            <li>
                                <a href="/ultimas">Jornal cidadão</a>
                            </li>
                            <li>
                                <a href="/ultimas">Charges</a>
                            </li>
                            <li>
                                <a href="/ultimas">Enquetes</a>
                            </li>
                                                                                                <li>
                                <a href="/ultimas">Últimas</a>
                            </li>
                                                                                                <li>
                                <a href="/colunas">Colunas</a>
                            </li>
                                                                                                <li>
                                <a href="/pernambuco">Pernambuco</a>
                            </li>
                                                                                                <li>
                                <a href="/colunas/seguranca">Segurança</a>
                            </li>
                                                                                                <li>
                                <a href="/colunas/saude-e-bem-estar">Saúde e Bem-Estar</a>
                            </li>
                                                                                                <li>
                                <a href="/colunas/enem-e-educacao">Enem e Educação</a>
                            </li>
                                                                                                <li>
                                <a href="/colunas/mobilidade">Mobilidade</a>
                            </li>
                                                                                                <li>
                                <a href="/politica">Política</a>
                            </li>
                                                                                                <li>
                                <a href="/economia">Economia</a>
                            </li>
                                                                                                <li>
                                <a href="/cultura">Cultura</a>
                            </li>
                                                                                                <li>
                                <a href="https://jc.uol.com.br/mundo/">Mundo</a>
                            </li>
                                                                                                <li>
                                <a href="https://tvjornal.com.br/">TV Jornal</a>
                            </li>
                                                                                                <li>
                                <a href="https://radiojornal.com.br/">Rádio Jornal</a>
                            </li>
                                                                                                <li>
                                <a href="https://interior.ne10.uol.com.br/">Interior</a>
                            </li>
                                                                                                <li>
                                <a href="https://jc.uol.com.br/blog-do-torcedor/">Blog do Torcedor</a>
                            </li>
                                                                                                <li>
                                <a href="https://jc.uol.com.br/social1/">Social1</a>
                            </li>
                                                                                                <li>
                                <a href="https://receitadaboa.com.br/">Receita da Boa</a>
                            </li>
                                                                                                <li>
                                <a href="/opiniao">Opinião</a>
                            </li>
                                                                                                <li>
                                <a href="https://jc.uol.com.br/recall-de-marcas">Recall de Marcas</a>
                            </li>
                                                                                                <li>
                                <a href="https://ads.sjcc.com.br/">Anuncie aqui</a>
                            </li>
                                                                        </ul>
        </nav>
        <div class="social-wrap">
            <p>Siga JC</p>
            <ul class="social">
    <li>
        <a href="https://www.facebook.com/jornaldocommercioPE/" target="_blank">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-facebook.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o Facebook">
                <figcaption>Facebook</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-instagram.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o Instagram">
                <figcaption>Instagram</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-x.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o X">
                 <figcaption>x</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.linkedin.com/company/sistema-jornal-do-commercio/">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-linkedin.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o LinkedIn">
                <figcaption>Linkedin</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/@JCPlayOficial">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-youtube.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o YouTube">
                <figcaption>youtube</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.tiktok.com/@jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-tiktok.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o TikTok">
                <figcaption>tiktok</figcaption>  
            </figure>
        </a>
    </li>
</ul>        </div>
    </div>
</div><div class="searchbar">
    <form action="/search">
        <input type="text" name="q" value="" placeholder="Faça a sua pesquisa">
        <button type="submit"><img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-busca.svg" alt="busca"></button>
    </form>
    <a href="#" class="closeSearch">
        fechar
    </a>
</div>                    
                
        
        
        
        
        <!-- Header de blogs e colunas -->
                <!-- Main -->
        <main>
             <!-- Content-->
                 <div id="banner-1x1-area" style="min-height: 18px"></div>
<script>
    window.pushAds.push({id: "banner-1x1-area"});
</script> <!-- banner-1x1-area -->
    <section id="content">
        <div class="container">
        <!-- article-news-->
    <article>
        <!-- article-header -->
                    <div class="article-header-jc-new">
    <!-- news-info -->
            <div class="hat">
            <a href="https://jc.uol.com.br/brasil" class="author">
                <strong class="author">Brasil</strong>
            </a>
            <span>|</span>
            <span>Notícia</span>
        </div>
        <h1 class="article-title">Sobe para 64 número de mortos em operação contra o Comando Vermelho no Rio; a mais letal da história do estado</h1>
        <p class="article-subtitle">Entre as vítimas, estão quatro policiais. Os mortos incluem civis e suspeitos de envolvimento com o tráfico. Mais de 2.500 agentes foram mobilizados</p>
    <!-- author-article -->
    <div class="author-signature">
        <!-- author-info -->
        <div class="author-info">
            <strong>Por</strong>
                            <a href="/author/aisha-vitoria/" class="author">
                    <strong>Aisha Vitória</strong>
                </a>
                        <small class="publishinfo">
                Publicado em 28/10/2025 às 15:49
                | Atualizado em 28/10/2025 às 16:18
            </small>
        </div>
        <div class="article-utilities">
            <div class="box-modal" id="box-credibilidade" aria-hidden="true">
    <a href="#box-credibilidade" class="btn-fechar btn-modal-fechar"><span class="icon-close">X</span></a>
    <div class="box-modal-content">
        <div class="modal-glossario-content-cat">
            <div class="categoria-noticia cat-noticia">
                <h3>Notícia</h3>
                <p>É o fato ou acontecimento de interesse jornalístico. Pode ser uma informação nova ou recente. Também
                    diz respeito a uma novidade de uma situação já conhecida.</p>
            </div>
            <div class="categoria-noticia cat-artigo">
                <h3>Artigo</h3>
                <p>Texto predominantemente opinativo. Expressa a visão do autor, mas não necessariamente a opinião do
                    jornal. Pode ser escrito por jornalistas ou especialistas de áreas diversas.</p>
            </div>
            <div class="categoria-noticia cat-investigativa">
                <h3>Investigativa</h3>
                <p>Reportagem que traz à tona fatos ou episódios desconhecidos, com forte teor de denúncia. Exige
                    técnicas e recursos específicos.</p>
            </div>
            <div class="categoria-noticia cat-content-commerce">
                <h3>Content Commerce</h3>
                <p>Conteúdo editorial que oferece ao leitor ambiente de compras.</p>
            </div>
            <div class="categoria-noticia cat-analise">
                <h3>Análise</h3>
                <p>É a interpretação da notícia, levando em consideração informações que vão além dos fatos narrados.
                    Faz uso de dados, traz desdobramentos e projeções de cenário, assim como contextos passados.</p>
            </div>
            <div class="categoria-noticia cat-editorial">
                <h3>Editorial</h3>
                <p>Texto analítico que traduz a posição oficial do veículo em relação aos fatos abordados.</p>
            </div>
            <div class="categoria-noticia cat-patrocinada">
                <h3>Patrocinada</h3>
                <p>É a matéria institucional, que aborda assunto de interesse da empresa que patrocina a reportagem.</p>
            </div>
            <div class="categoria-noticia cat-checagem-de-fatos">
                <h3>Checagem de fatos</h3>
                <p>Conteúdo que faz a verificação da veracidade e da autencidade de uma informação ou fato divulgado.
                </p>
            </div>
            <div class="categoria-noticia cat-contexto">
                <h3>Contexto</h3>
                <p>É a matéria que traz subsídios, dados históricos e informações relevantes para ajudar a entender um
                    fato ou notícia.</p>
            </div>
            <div class="categoria-noticia cat-especial">
                <h3>Especial</h3>
                <p> Reportagem de fôlego, que aborda, de forma aprofundada, vários aspectos e desdobramentos de um
                    determinado assunto. Traz dados, estatísticas, contexto histórico, além de histórias de personagens
                    que são afetados ou têm relação direta com o tema abordado.</p>
            </div>
            <div class="categoria-noticia cat-entrevista">
                <h3>Entrevista</h3>
                <p> Abordagem sobre determinado assunto, em que o tema é apresentado em formato de perguntas e
                    respostas. Outra forma de publicar a entrevista é por meio de tópicos, com a resposta do
                    entrevistado reproduzida entre aspas.</p>
            </div>
            <div class="categoria-noticia cat-critica">
                <h3>Crítica</h3>
                <p> Texto com análise detalhada e de caráter opinativo a respeito de produtos, serviços e produções
                    artísticas, nas mais diversas áreas, como literatura, música, cinema e artes visuais.</p>
            </div>
        </div><!-- content-cat -->
    </div>
</div>
        </div>
    </div>
    <div class="share-news-jc-new">
    <ul>
        <li>
            <a href="https://api.whatsapp.com/send?text=Sobe+para+64+n%C3%BAmero+de+mortos+em+opera%C3%A7%C3%A3o+contra+o+Comando+Vermelho+no+Rio%3B+a+mais+letal+da+hist%C3%B3ria+do+estado++https%3A%2F%2Fjc.uol.com.br%2Fbrasil%2F2025%2F10%2F28%2Foperacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-whatsapp.svg" alt="Compartilhar no WhatsApp">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-facebook2.svg" alt="Compartilhar no Facebook">
            </a>
        </li>
        <li>
            <a href="#" onclick="shareNews(event, 'Sobe para 64 número de mortos em operação contra o Comando Vermelho no Rio; a mais letal da história do estado', 'https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html')">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-share.svg" alt="Compartilhar notícia">
            </a>
        </li>
    </ul>
</div></div>
                <!-- featured image -->
                    <!-- Imagem destaque -->
            
        <figure class="featured-image skeleton-box">
            <picture>
                                    <source media="(max-width: 320px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=260x143 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=350x192 2x">
                                    <source media="(max-width: 375px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=305x168 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=410x225 2x">
                                    <source media="(max-width: 425px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=360x200 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=480x267 2x">
                                    <source media="(min-width: 426px) and (max-width: 767px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=700x394 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=1000x563 2x">
                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=800x450 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=1200x675 2x">
                                    <source media="(min-width: 1024px)"
                        srcset="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=800x533 1x, https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=1600x1066 2x">
                                <img src="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/whatsapp_image_2025_10_28_at_15_56_02-35937670.jpeg?6901171b84cd2?ims=800x533"
                    width="800" height="533"
                    alt="Entre as vítimas estão dois policiais civis, dois militares e civis. O restante é apontado como suspeito de envolvimento com o tráfico"
                    fetchpriority="high">
            </picture>
            <figcaption>
                Entre as vítimas estão dois policiais civis, dois militares e civis. O restante é apontado como suspeito de envolvimento com o tráfico - <strong>ÉRICA MARTIN/AGÊNCIA O DIA/ESTADÃO CONTEÚDO</strong>
            </figcaption>
        </figure>
    
    <!-- Youtube -->
        <!-- Uol + -->
    
    <div>
                    <div id="load-unified-ad-1" style="height: 280px; margin: 20px 0; display: flex; align-items: center; justify-content: center;"></div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const id = "1";
        const bannerId = `load-unified-ad-${id}`;
        const bannerElement = document.getElementById(bannerId);

        if (!bannerElement) {
            console.log("Elemento do banner não encontrado:", bannerId);
            return;
        }

        const ads = document.createElement("div");
        const isDesktop = window.matchMedia("(min-width: 1024px)").matches;
        const adsId = isDesktop ? `banner-970x250-${id}` : `banner-300x250-${id}`;
        const adsWidth = isDesktop ? "970px" : "300px";

        ads.style.width = adsWidth;
        ads.style.height = "250px";
        ads.style.display = "flex";
        ads.style.alignItems = "center";
        ads.style.justifyContent = "center";

        const ad = document.createElement('div');
        ad.setAttribute("id", adsId);

        ads.appendChild(ad);
        bannerElement.appendChild(ads);
        
                    window.pushAds.push({ id: adsId });
        
    });
</script>
            </div>
 
        
        <!-- stamp image torcedor-new -->
                
        <!-- content news -->
        <div class="content-news">
            <div class="readText">
    <p><strong>Clique aqui e escute a matéria</strong></p>
    <div class="player">
        <button id="btnLeitura" tabindex="0" title="Ler receita" alt="Ler receita">
            <i id="iconeLeitura" class="fa-regular fa-circle-play"></i> 
        </button>
        <label id="tempoLeitura"></label>
        <svg id="wave" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 38.05">
            <path class="line" data-name="Line 1" d="M0.91,15L0.78,15A1,1,0,0,0,0,16v6a1,1,0,1,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H0.91" fill="#79797F"/>
            <path class="line" data-name="Line 2" d="M6.91,9L6.78,9A1,1,0,0,0,6,10V28a1,1,0,1,0,2,0s0,0,0,0V10A1,1,0,0,0,7,9H6.91" fill="#79797F"/>
            <path class="line" data-name="Line 3" d="M12.91,0L12.78,0A1,1,0,0,0,12,1V37a1,1,0,1,0,2,0s0,0,0,0V1a1,1,0,0,0-1-1H12.91" fill="#79797F"/>
            <path class="line" data-name="Line 4" d="M18.91,10l-0.12,0A1,1,0,0,0,18,11V27a1,1,0,1,0,2,0s0,0,0,0V11a1,1,0,0,0-1-1H18.91" fill="#79797F"/>
            <path class="line" data-name="Line 5" d="M24.91,15l-0.12,0A1,1,0,0,0,24,16v6a1,1,0,0,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H24.91" fill="#79797F"/>
            <path class="line" data-name="Line 6" d="M30.91,10l-0.12,0A1,1,0,0,0,30,11V27a1,1,0,1,0,2,0s0,0,0,0V11a1,1,0,0,0-1-1H30.91" fill="#79797F"/>
            <path class="line" data-name="Line 7" d="M36.91,0L36.78,0A1,1,0,0,0,36,1V37a1,1,0,1,0,2,0s0,0,0,0V1a1,1,0,0,0-1-1H36.91" fill="#79797F"/>
            <path class="line" data-name="Line 8" d="M42.91,9L42.78,9A1,1,0,0,0,42,10V28a1,1,0,1,0,2,0s0,0,0,0V10a1,1,0,0,0-1-1H42.91" fill="#79797F"/>
            <path class="line" data-name="Line 9" d="M48.91,15l-0.12,0A1,1,0,0,0,48,16v6a1,1,0,1,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H48.91" fill="#79797F"/>
        </svg>
    </div>
</div>



<div class="poll-widget-container">
  
  <div class="poll-widget-header">
    
  </div>

  <div class="poll-widget-box" id="pollWidgetBox">
    
    <div class="poll-state not-logged-in" id="pollStateNotLoggedIn">
      <p>Para participar da enquete, por favor, <a href="/login" class="login-link">faça login</a>.</p>
    </div>

    <div class="poll-state voting-state hidden" id="pollStateVoting">
      <h3 class="poll-question">Você é a favor do projeto de anistia?</h3>
      <form class="poll-form" id="pollForm">
        <label class="poll-option">
          <input type="radio" name="poll-answer" value="A">
          <span class="option-label">A - Sim</span>
        </label>
        <label class="poll-option">
          <input type="radio" name="poll-answer" value="B">
          <span class="option-label">B - Não</span>
        </label>
        <label class="poll-option">
          <input type="radio" name="poll-answer" value="C">
          <span class="option-label">C - Indiferente</span>
        </label>
        <button type="submit" class="vote-button" disabled>Votar</button>
      </form>
    </div>

    <div class="poll-state results-state hidden" id="pollStateResults">
      <h3 class="poll-question">Você é a favor do projeto de anistia?</h3>
      <div class="poll-results">
        <div class="result-bar-wrapper">
          <span class="result-label">
            <span>A - Sim</span>
            <span class="result-percentage" id="resultA">0%</span>
          </span>
          <div class="result-bar">
            <div class="fill" id="fillA" style="width: 0%;"></div>
          </div>
        </div>
        <div class="result-bar-wrapper">
          <span class="result-label">
            <span>B - Não</span>
            <span class="result-percentage" id="resultB">0%</span>
          </span>
          <div class="result-bar">
            <div class="fill" id="fillB" style="width: 0%;"></div>
          </div>
        </div>
        <div class="result-bar-wrapper">
          <span class="result-label">
            <span>C - Indiferente</span>
            <span class="result-percentage" id="resultC">0%</span>
          </span>
          <div class="result-bar">
            <div class="fill" id="fillC" style="width: 0%;"></div>
          </div>
        </div>
      </div>
      <button class="back-button" id="backButton">Voltar enquete</button>
    </div>

  </div> </div> <style>
  /* --- Estilos do Widget de Enquete --- */
  .poll-widget-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

  .poll-widget-header {
    text-align: center;
    margin-bottom: 10px;
  }

  .poll-widget-header p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }

  .poll-widget-box {
    border: 2px solid #e63d09f1
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden; /* Garante que nada vaze */
  }

  /* Esconde estados não ativos */
  .poll-state.hidden {
    display: none;
  }

  .poll-question {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Estado de Não Logado */
  .poll-state.not-logged-in {
    text-align: center;
  }
  .poll-state.not-logged-in p {
    font-size: 1em;
    color: #444;
  }
  .poll-state.not-logged-in .login-link {
    color: #007bff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }

  /* Opções de Votação */
  .poll-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .poll-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  .poll-option:hover {
    background-color: #f0f8ff;
  }

  .poll-option input[type="radio"] {
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s;
  }

  .poll-option input[type="radio"]:checked {
    border-color: #007bff;
  }

  .poll-option input[type="radio"]:checked::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .poll-option .option-label {
    font-size: 1em;
    color: #333;
    flex-grow: 1;
  }

  .vote-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    margin-top: 20px;
  }

  .vote-button:hover:not(:disabled) {
    background-color: #0056b3;
  }

  .vote-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
  }

  /* Resultados */
  .poll-results {
    margin-top: 20px;
  }

  .result-bar-wrapper {
    margin-bottom: 15px;
  }

  .result-label {
    display: block;
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result-percentage {
    font-weight: bold;
    color: #555;
  }

  .result-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 25px;
    overflow: hidden;
    position: relative;
  }

  .result-bar .fill {
    height: 100%;
    border-radius: 5px 0 0 5px;
    width: 0;
    transition: width 1s ease-out;
  }

  /* Cores das barras - baseadas no Figma */
  #fillA { background-color: #5bb39c; } /* A */
  #fillB { background-color: #d8a038; } /* B */
  #fillC { background-color: #cccccc; } /* C */

  .back-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 20px;
    display: block;
    width: fit-content;
    margin-left: auto;
  }
  .back-button:hover {
    text-decoration: underline;
  }

  /* Responsividade */
  @media (max-width: 600px) {
    .poll-widget-container {
      padding: 0 15px;
    }
  }
</style>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const pollWidgetBox = document.getElementById('pollWidgetBox');
  const pollStateNotLoggedIn = document.getElementById('pollStateNotLoggedIn');
  const pollStateVoting = document.getElementById('pollStateVoting');
  const pollStateResults = document.getElementById('pollStateResults');
  const pollForm = document.getElementById('pollForm');
  const voteButton = pollForm ? pollForm.querySelector('.vote-button') : null;
  const backButton = document.getElementById('backButton');
  const loginLink = document.querySelector('.login-link'); // Adicionado
  
  // -----------------------------------------------------------------
  //   CONFIGURAÇÃO DE TESTE: Altere estas variáveis para testar
  // -----------------------------------------------------------------
  let isLoggedIn = false; // Mude para 'true' para testar o estado logado
  let hasVoted = false;   // Mude para 'true' (com isLoggedIn=true) para ver os resultados
  // -----------------------------------------------------------------
  
  // Simulação de dados (em um site real, viria do backend)
  const pollResultsData = { A: 82, B: 12, C: 6 };

  // Função para mostrar um estado e esconder os outros
  function showState(stateElement) {
    [pollStateNotLoggedIn, pollStateVoting, pollStateResults].forEach(el => {
      if (el) el.classList.add('hidden');
    });
    if (stateElement) stateElement.classList.remove('hidden');
  }

  // Função para preencher e animar os resultados
  function updateResultsUI(data) {
    if (!pollStateResults) return;

    // Atualiza os textos de porcentagem
    document.getElementById('resultA').textContent = data.A + '%';
    document.getElementById('resultB').textContent = data.B + '%';
    document.getElementById('resultC').textContent = data.C + '%';
    
    // Reseta a largura para 0 antes de animar (para o caso de "voltar")
    document.getElementById('fillA').style.width = '0%';
    document.getElementById('fillB').style.width = '0%';
    document.getElementById('fillC').style.width = '0%';

    // Adiciona um pequeno atraso para a animação de "fill" funcionar
    setTimeout(() => {
      document.getElementById('fillA').style.width = data.A + '%';
      document.getElementById('fillB').style.width = data.B + '%';
      document.getElementById('fillC').style.width = data.C + '%';
    }, 100); // 100ms de atraso
  }

  // --- Lógica Inicial ---
  function initializePollWidget() {
    if (!pollWidgetBox) return;

    if (!isLoggedIn) {
      showState(pollStateNotLoggedIn);
    } else if (hasVoted) {
      updateResultsUI(pollResultsData);
      showState(pollStateResults);
    } else {
      showState(pollStateVoting);
    }
  }

  // --- Event Listeners ---

  // Habilita o botão de votar se uma opção for selecionada
  if (pollForm) {
    pollForm.addEventListener('change', () => {
      if (voteButton) {
        voteButton.disabled = !pollForm.querySelector('input[name="poll-answer"]:checked');
      }
    });

    // Simula o envio do voto
    pollForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const selectedOption = pollForm.querySelector('input[name="poll-answer"]:checked');
      
      if (selectedOption) {
        console.log("Voto enviado para:", selectedOption.value);
        // Em um app real, você enviaria o voto para o backend aqui
        // e receberia os resultados atualizados.

        hasVoted = true;
        // Para este exemplo, apenas mostramos os resultados simulados
        updateResultsUI(pollResultsData);
        showState(pollStateResults);
      }
    });
  }

  // Botão "Voltar enquete"
  if (backButton) {
    backButton.addEventListener('click', () => {
      // Para demonstração, volta ao estado de votação
      // (Resetar o 'hasVoted' permite votar de novo para teste)
      if (isLoggedIn) {
        hasVoted = false; 
        if (voteButton) voteButton.disabled = true; // Reseta o botão
        pollForm.reset(); // Limpa a seleção
        showState(pollStateVoting);
      } else {
        showState(pollStateNotLoggedIn);
      }
    });
  }

  // Simula o login ao clicar no link (APENAS PARA TESTE)
  if (loginLink) {
    loginLink.addEventListener('click', (e) => {
      e.preventDefault(); // Impede de ir para a página /login
      alert("Simulando login... Você agora está logado.");
      isLoggedIn = true;
      initializePollWidget(); // Re-inicia o widget no estado logado
    });
  }

  // Inicializa o widget
  initializePollWidget();
});
</script>




                    <p class="texto">O governo do Rio de Janeiro confirmou, nesta terça-feira (28), que ao menos <span class="highlight">64 pessoas morreram durante a Operação Contenção</span>, deflagrada nas comunidades dos complexos da Penha e do Alemão.</p>
                                                <div class="ads">
    <div id="uolpd-video-inarticle">
    </div>
</div>
                                            
<p class="texto">A ação, considerada a mais letal da história do estado, tem como objetivo <strong>combater a expansão territorial do Comando Vermelho.</strong></p>
                                                                
<h2>Detalhes da operação e vítimas</h2>
<p class="texto">Segundo a Secretaria de Segurança Pública, entre as vítimas estão quatro policiais, sendo dois civis e dois militares, além de civis e suspeitos de envolvimento com o tráfico.</p>
                                                                
<p class="texto"><span class="highlight">A operação prendeu 81 pessoas e apreendeu 31 fuzis.</span> A ofensiva mobilizou cerca de <strong>2.500 agentes das polícias Civil e Militar</strong>, com apoio de helicópteros, drones, 32 veículos blindados e 12 máquinas de demolição.</p>
                                                                
<h2>Drones usados por criminosos</h2>
<p class="texto">O uso de<strong> drones</strong> por criminosos, lançando bombas contra as equipes e moradores, foi confirmado pelo governo estadual.</p>
                                                                                <div id="banner-300x350-mobile" class="skeleton-box"></div>
<script>
    if (window.matchMedia("(max-width:991px)").matches) {
        document.querySelector('#banner-300x350-mobile').innerHTML = '<div id="banner-300x350-area" class="ads ads-retangular text-center"></div>';
                window.pushAds.push({ id: "banner-300x350-area" });
            }
</script>

                                <div id="banner-300x250-4-desktop" class="skeleton-box"></div> 
    <script>
        if (window.matchMedia("(min-width:992px)").matches) {
            document.querySelector('#banner-300x250-4-desktop').innerHTML = '<div id="banner-300x250-4" class="ads ads-retangular text-center"></div>';
                        window.pushAds.push({ id: "banner-300x250-4" });
                    }
    </script>
                                                
<p class="texto">“Essa operação tem muito pouco a ver com segurança pública. Já é uma questão de defesa do Estado. O Rio está sozinho nessa luta contra o crime organizado”, afirmou o governador <strong>Cláudio Castro (PL)</strong>, ao cobrar mais integração com o governo federal.</p>
                                                                
<p class="texto"><div class="alsoread">
      <span class="leia-mais-title">Leia Também</span>
      <ul class="list-alsoread">
	    				<li>
                                                                                                                 <a class="link" href="https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rj-contra-o-comando-vermelho-deixa-ao-menos-20-mortos-nesta-terca-feira-28.html">Operação no RJ contra o Comando Vermelho deixa ao menos 20 mortos nesta terça-feira (28)</a>
                                      </li>
	          </ul>
</div></p>
                                                                
<h2>Cumprimento de mandados</h2>
<p class="texto">As forças de segurança tentam cumprir <a href="https://jc.uol.com.br/brasil/2025/10/28/doca-um-dos-principais-lideres-do-comando-vermelho-no-complexo-da-penha-foi-preso.html" target="_blank" rel="noopener noreferrer"><strong>69 mandados de prisão em 180 endereços.</strong></a> Entre os presos, está <strong>um suposto líder do Comando Vermelho</strong> acusado de chefiar a guerra do Chapadão.</p>
                                                                
<p class="texto">A Promotoria já <span class="highlight">denunciou 67 pessoas por associação para o tráfico e três por tortura.</span></p>
                                                                            <div class="box-whatsapp">
    <a href="https://whatsapp.com/channel/0029Va4rlxK90x356JBQ2g0o" >
        <div class="text">
            <span class="title">
                Vamos conversar no ZAP?
            </span>
            <p>Receba notícias na palma da sua mão. Entre agora mesmo no nosso canal exclusivo do WhatsApp</p>
        </div>
        <span class="noticias-whatsapp" target="_blank">ENTRE NO CANAL DO WHATSAPP</span>
    </a>
</div>
                                                
<p class="texto">Durante a ação, <strong>barricadas foram erguidas</strong> por criminosos e moradores relataram <strong>tiroteios intensos</strong> e <strong>dificuldade para circular.</strong></p>
                                                                
<p class="texto">Na Vila Cruzeiro, motos foram<strong> proibidas</strong> e acessos à favela foram ocupados por blindados. Unidades de saúde na região suspenderam atendimentos externos por segurança.</p>
                                                                
<h2>Dificuldade para avançar</h2>
<p class="texto">O secretário de Segurança, <strong>Victor Santos</strong>, afirmou que a dimensão dos complexos, cerca de 9 milhões de metros quadrados, e o controle armado dificultam o avanço do Estado.</p>
                                                                
<p class="texto">“É impossível enfrentar isso apenas com o efetivo estadual”, disse.</p>
                                                                
<p class="texto">A operação é resultado de mais de um ano de investigações conduzidas pela Delegacia de Repressão a Entorpecentes e pelo Gaeco (Grupo de Atuação Especial de Combate ao Crime Organizado) do Ministério Público.</p>
                                                                
<p class="texto">O Complexo da Penha foi apontado como <strong>base estratégica</strong> do projeto de expansão do Comando Vermelho na capital fluminense e em cidades vizinhas.<br /></p>
                                                                
<p class="texto">
            <span id='DQW5ZvGiv7t'>
                <script type='lazyscript'>
                    ;(function() {
                        var instagram = document.getElementById('DQW5ZvGiv7t');
                        instagram.innerHTML = '<iframe id="instagram-embed-0" class="instagram-media instagram-media-rendered" style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid #dbdbdb; box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;" src="https://www.instagram.com/reel/DQW5ZvGiv7t/embed/captioned/?cr=1&v=14&wp=485&rd=http%3A%2F%2Ffivenews.sjcc.com.br&rp=%2Findex.php#%7B%22ci%22%3A0%2C%22os%22%3A146074.39999997616%2C%22ls%22%3A145361.60000002384%2C%22le%22%3A146059.5%7D" width="300" height="1385" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen" data-instgrm-payload-id="instagram-media-payload-0"></iframe>';
                    })();
                </script>
            </span>
            </p>
                                                                

<h2>Saiba como acessar o JC Premium</h2>
<div style="position: relative; padding-bottom: 56.25%;">
            <span id='x9ai5ve'>
                <script type='lazyscript'>
                    ;(function() {
                        var dailymotion = document.getElementById('x9ai5ve');
                        dailymotion.innerHTML = '<iframe style="width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; overflow: hidden;" title="Dailymotion video player – Saiba como acessar o JC Premium" src="https://geo.dailymotion.com/player/xhsob.html?video=x9ai5ve" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1"></iframe>';
                    })();
                </script>
            </span>
            </div></p>
                                                        </div> 
        <!-- citations -->
         
        <!-- correction -->
                <!-- backstage --> 
         
        
        <!-- carousel-gallery -->
         

        <!-- booms -->
         

        <!-- info-health -->
        
        
                    
            <!-- stamp image social1-new -->
            
            <!-- share -->
            <!-- react componente -->
<div class="share-news"></div>        
    </article>
        </div>
    </section>
        <section class="latest-news-jc-new m-0">
        <div class="container">
            <div class="row mb-4 d-flex justify-content-center">
                <div class="col-xs-12 col-md-12 d-flex justify-content-center">
                    <h3 class="title-section-new mt-0">Leia também</h3>
                </div>
                                                                                    <div class="col-xs-6 col-md-4 mt-4">
                            <div class="box">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="https://jc.uol.com.br/tv-jornal/videos/2025/10/28/ex-policial-e-preso-com-arma-e-tornozeleira-eletronica-em-operacao-do-bope-na-regiao-metropolitana-do-recife.html">
                                            <figure>
                                                                                                    <img src="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/x9st4yk-35934709.jpg" width="305" height="170" loading="lazy" alt="Ex-policial é preso com arma e tornozeleira eletrônica em operação do BOPE na Região Metropolitana do Recife">
                                                                                    
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-md-12 mt-3">
                                        <a href="https://jc.uol.com.br/tv-jornal/videos/2025/10/28/ex-policial-e-preso-com-arma-e-tornozeleira-eletronica-em-operacao-do-bope-na-regiao-metropolitana-do-recife.html">
                                            <div class="content-text">
                                                <small class="d-block hat">OPERAÇÃO POLICIAL</small>
                                                <h4 class="title">Ex-policial é preso com arma e tornozeleira eletrônica em operação do BOPE na Região Metropolitana do Recife</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                    <div class="col-xs-6 col-md-4 mt-4">
                            <div class="box">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="https://jc.uol.com.br/tv-jornal/videos/2025/10/28/policia-impede-possivel-feminicidio-e-apreende-arma-apos-discussao-entre-casal-no-grande-recife.html">
                                            <figure>
                                                                                                    <img src="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2025/10/28/x9st5cs-35934665.jpg" width="305" height="170" loading="lazy" alt="Polícia impede possível feminicídio e apreende arma após discussão entre casal no Grande Recife">
                                                                                    
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-md-12 mt-3">
                                        <a href="https://jc.uol.com.br/tv-jornal/videos/2025/10/28/policia-impede-possivel-feminicidio-e-apreende-arma-apos-discussao-entre-casal-no-grande-recife.html">
                                            <div class="content-text">
                                                <small class="d-block hat">VIOLÊNCIA DOMÉSTICA</small>
                                                <h4 class="title">Polícia impede possível feminicídio e apreende arma após discussão entre casal no Grande Recife</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                                                                                                        </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-section title-type-three d-flex justify-content-center">
                        <h3>Compartilhe</h3>
                    </div>
                </div>
                <div class="col-xs-12 d-flex justify-content-center">
                    <div class="share-news-jc-new">
    <ul>
        <li>
            <a href="https://api.whatsapp.com/send?text=Sobe+para+64+n%C3%BAmero+de+mortos+em+opera%C3%A7%C3%A3o+contra+o+Comando+Vermelho+no+Rio%3B+a+mais+letal+da+hist%C3%B3ria+do+estado++https%3A%2F%2Fjc.uol.com.br%2Fbrasil%2F2025%2F10%2F28%2Foperacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-whatsapp.svg" alt="Compartilhar no WhatsApp">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-facebook2.svg" alt="Compartilhar no Facebook">
            </a>
        </li>
        <li>
            <a href="#" onclick="shareNews(event, 'Sobe para 64 número de mortos em operação contra o Comando Vermelho no Rio; a mais letal da história do estado', 'https://jc.uol.com.br/brasil/2025/10/28/operacao-no-rio-de-janeiro-contra-o-comando-vermelho-sobe-para-64-mortos-e-se-torna-a-mais-letal-da-historia-do-estado.html')">
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-share.svg" alt="Compartilhar notícia">
            </a>
        </li>
    </ul>
</div>                </div>
            </div>
        </div>
    </section>
 <!-- Main content -->
    <section id="section-tags">
    <div class="title-section title-type-three d-flex justify-content-center">
        <h3>Tags</h3>
    </div>
    <ul class="justify-content-center">
                    <li><a href="/tag/comando-vermelho/">Comando Vermelho</a></li>
                    <li><a href="/tag/operacao-policial/">operação policial</a></li>
                    <li><a href="/tag/violencia/">violência</a></li>
            </ul>
</section>
 <!-- Tags -->
    <div class="box-modal" id="box-feedback" aria-hidden="true">
    <a href="#box-feedback" class="icon-close-feedback btn-fechar btn-modal-fechar"><span class="icon-close-feedback icon-close">X</span></a>
    <div class="modal-container">
      <div class="modal-header">
          <h2>Ajude-nos a melhorar o Portal JC!</h2>
        </div>
        <div class="modal-content">
          <form id="feedbackForm">
            <div id="conteudo1">
              <p><strong>
                  Você teve dificuldade para ler essa matéria?
                </strong></p>
              <div class="grid-container">
                <div class="tamanho-letra feedback-option option-conteudo" >
                  <img class="tamanho-letra" src="https://imagens.ne10.uol.com.br/template-unificado/images/jc/feedback/icon-lupa.png" loading="lazy" width="77" height="77" alt="Ícone de lupa indicando busca">
                  <p class="tamanho-letra"><strong class="tamanho-letra">Sim</strong>, devido ao tamanho da letra</p>
                </div>
                <div class="forma-texto-exibido feedback-option option-conteudo" >
                  <img class="forma-texto-exibido" src="https://imagens.ne10.uol.com.br/template-unificado/images/jc/feedback/icon-texto.png" loading="lazy" width="61" height="87" alt="Ícone de texto">
                  <p class="forma-texto-exibido"><strong class="forma-texto-exibido">Sim</strong>, devido a forma como o texto é exibido</p>
                </div>
                <div class="muitos-anuncios feedback-option option-conteudo" >
                  <img class="muitos-anuncios" src="https://imagens.ne10.uol.com.br/template-unificado/images/jc/feedback/icon-anuncios.png" loading="lazy" width="83" height="87" alt="Ícone de anúncios publicitários">
                  <p class="muitos-anuncios"><strong class="muitos-anuncios">Sim</strong>, devido a quantidade de anúncios</p>
                </div>
                <div class="outro-motivo feedback-option option-conteudo" >
                  <p class="outro-motivo"><strong class="outro-motivo" >Sim</strong>, devido a outro motivo</p>
                </div>
                <div class="sem-dificuldade feedback-option option-conteudo">
                  <p class="sem-dificuldade"><strong class="sem-dificuldade">Não tive dificuldade para ler</strong></p>
                </div>
              </div>
              <input type="hidden" name="difficulty" id="difficultyInput">
            </div>
            <div id="conteudo2">
              <span>Em uma escala de 1 a 5, você sentiu alguma dificuldade para ler essa matéria?</span>
              <div class="content-conteudo2">
                <div class="feedback-option" data-value="1">
                  <p class="opcao 1">1</p>
                  <p>Não senti nenhuma dificuldade</p>
                </div>
                <div class="feedback-option" data-value="2">
                  <p class="opcao 2">2</p>
                </div>
                <div class="feedback-option" data-value="3">
                  <p class="opcao 3">3</p>
                </div>
                <div class="feedback-option" data-value="4">
                  <p class="opcao 4">4</p>
                </div>
                <div class="feedback-option" data-value="5">
                  <p class="opcao 5">5</p>
                  <p>Senti muita dificuldade</p>
                </div>
              </div>

            </div>
            <div class="container-button">
              <button type="submit">ENVIAR</button>
            </div>
          </form>
          <div id="thankYouMessage" style="display: none;">
            <p>Seu feedback foi enviado</p>
            <h4>Obrigado pela participação!</h4>
            <button type="button" class="fechar-modal btn-modal-fechar-feedback ">VOLTAR PARA A NOTÍCIA</button>
          </div>
        </div>  
    </div>     
</div>              </main>

        <!-- Footer - React Component -->
        
                    <footer>
        <div class="footer-top">
        <div class="container">
            <div class="col-xs-12">
                <h3>Nossos Produtos</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-xs-12">
                    <!-- produtos -->                    
                    <ul class="nossos-produtos">
                                                    <li>
                                <a href="https://interior.ne10.uol.com.br/">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/ne10interior.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>NE10 Interior</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/radio-jornal">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/radio.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>Rádio Jornal</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/tv-jornal">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/tvjornal.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>TV Jornal</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/jc-novo.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>Jornal do Commercio</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/blog-do-torcedor">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/blog_do_torcedor.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>Blog do Torcedor</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/social1">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/social.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>Social1</figcaption>
                                    </figure>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://receitadaboa.com.br/">
                                    <figure>
                                        <img src="https://sjcc.ne10.uol.com.br/rodape_global/img/receita_da_boa.webp" loading="lazy" width="100" height="100" alt="Logo dos produtos do JC" />
                                        <figcaption>Receita da Boa</figcaption>
                                    </figure>
                                </a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12">
                    <h4>ESCUTE AGORA</h4>
                </div>
                <div class="col-xs-12 col-md-5">
                    <h5>Rádio Jornal</h5>
                    <!-- radio -->     
                    <ul class="players">
                                                    <li>
                                <a href="https://jc.uol.com.br/radio-jornal/ao-vivo"  target="_blank">
                                    Recife <span>&#9654;</span>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://interior.ne10.uol.com.br/radio-jornal/caruaru"  target="_blank">
                                    Caruaru <span>&#9654;</span>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://interior.ne10.uol.com.br/radio-jornal/garanhuns"  target="_blank">
                                    Garanhuns <span>&#9654;</span>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://interior.ne10.uol.com.br/radio-jornal/petrolina"  target="_blank">
                                    Petrolina <span>&#9654;</span>
                                </a>
                            </li>
                                            </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h5>TV Jornal</h5>
                    <!-- radio -->     
                    <ul class="players">
                                                    <li>
                                <a href="https://tvjornal.ne10.uol.com.br/ao-vivo" target="_blank">
                                    Recife <span>&#9654;</span>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://interior.ne10.uol.com.br/tv-jornal/ao-vivo" target="_blank">
                                    Interior <span>&#9654;</span>
                                </a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 d-flex flex-column align-items-center">
                
                                            <a href="/" class="logo">
                            <figure>
                                <img loading="lazy" width="140" height="70" src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/logo/logo.svg" alt="JC" title="JC">
                            </figure>
                        </a>
                        <h5>Nossas redes</h5>
                        <ul class="social">
    <li>
        <a href="https://www.facebook.com/jornaldocommercioPE/" target="_blank">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-facebook.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o Facebook">
                <figcaption>Facebook</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-instagram.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o Instagram">
                <figcaption>Instagram</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-x.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o X">
                 <figcaption>x</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.linkedin.com/company/sistema-jornal-do-commercio/">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-linkedin.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o LinkedIn">
                <figcaption>Linkedin</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/@JCPlayOficial">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-youtube.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o YouTube">
                <figcaption>youtube</figcaption>  
            </figure>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.tiktok.com/@jc_pe">
            <figure>
                <img src="https://imagens.ne10.uol.com.br/template-unificado/images/jc-new/icons/icon-tiktok.svg" loading="lazy" width="30" height="30" alt="Ícone com link para o TikTok">
                <figcaption>tiktok</figcaption>  
            </figure>
        </a>
    </li>
</ul>                                    </div>
                <div class="col-xs-12 col-md-2">
                    <h5>Canais</h5>
                    <!-- Canais --> 
                    <ul class="links">
                                                    <li>
                                <a href="https://jc.uol.com.br/ultimas" target="_blank">
                                  Últimas notícias
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/colunas" target="_blank">
                                  Colunas
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/opiniao" target="_blank">
                                  Opinião
                                </a>
                            </li>
                                            </ul>
                </div>
                <div class="col-xs-12 col-md-2">
                    <h5>Institucional</h5>
                    <!-- Institucional -->
                    <ul class="links">
                                                    <li>
                                <a href="https://jc.uol.com.br/pernambuco/2024/04/02/um-jornal-centenario-inovador-e-relevante.html" target="_blank">
                                  Quem somos
                                </a>
                            </li>
                                                    <li>
                                <a href="https://www.jcpm.com.br/sustentabilidade/" target="_blank">
                                  Práticas ASG JCPM
                                </a>
                            </li>
                                                    <li>
                                <a href="https://ne10.uol.com.br/privacidade/" target="_blank">
                                  Privacidade
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/melhores-praticas/" target="_blank">
                                  Melhores Práticas
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/institucional/lgpd" target="_blank">
                                  LGPD
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/institucional/publicacoes" target="_blank">
                                  Publicações
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/institucional/expediente" target="_blank">
                                  Expediente
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.uol.com.br/institucional/fale-conosco" target="_blank">
                                  Fale Conosco
                                </a>
                            </li>
                                                    <li>
                                <a href="https://sjcc.gupy.io/" target="_blank">
                                  Trabalhe Conosco
                                </a>
                            </li>
                                            </ul>
                </div>
                <div class="col-xs-12 col-md-2">
                    <h5>Serviços</h5>
                    <!-- Serviços -->
                    <ul class="links">
                                                    <li>
                                <a href="https://jc.uol.com.br/institucional/whatsapp" target="_blank">
                                  Notícias pelo whatsapp
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.ne10.uol.com.br/newsletter/" target="_blank">
                                  Newsletter JC
                                </a>
                            </li>
                                                    <li>
                                <a href="https://jc.ne10.uol.com.br/publicidade-legal" target="_blank">
                                  Publicidade Legal
                                </a>
                            </li>
                                                    <li>
                                <a href="https://ads.sjcc.com.br/?utm_source=jc_site&amp;utm_medium=bt_anuncie_conosco&amp;utm_campaign=anuncie_aqui_rodape" target="_blank">
                                  Anuncie conosco
                                </a>
                            </li>
                                            </ul>
                </div>
                <div class="col-xs-12 col-md-2">
                    <h5>Aplicativos</h5>
                    <!-- Aplicativos -->
                    <ul class="links">
                                                    <li>
                                <a href="https://play.google.com/store/apps/details?id=com.msxcontens.jcpe&amp;hl=pt_BR&amp;gl=US" target="_blank">
                                  Jornal do Commercio
                                </a>
                            </li>
                                                    <li>
                                <a href="https://play.google.com/store/apps/details?id=br.com.jc.radiojornal&amp;hl=pt_BR&amp;gl=US" target="_blank">
                                  Rádio Jornal
                                </a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <!-- Copyright -->
            <p> Jornal @ 2025 - Uma empresa do grupo JCPM<br> PARA SOLICITAÇÃO DE LICENCIAMENTO,
                CONTACTAR <a href="mailto:editores@ne10.com.br">EDITORES@NE10.COM.BR</a> </p>
            <a href="http://www.jcpm.com.br/" target="_blank">
                <img loading="lazy" src="https://imagens.ne10.uol.com.br/jcpm/logo_jcpm_footer.svg" width="190" heigh="56" alt="Grupo JCPM">
            </a>
        </div>
    </div>
</footer>        
        <!-- ORGANIZATION -->
<script src="https://sjcc.ne10.uol.com.br/template-unificado/js/portal-jc-new.js?1234" defer></script>
<script src="https://sjcc.ne10.uol.com.br/template-unificado/js/lazyscript.js"></script>

    <!-- privacytools -->
    <script type="lazyscript" async src="https://cdn.privacytools.com.br/public_api/banner/script/bottom/VXXy6142.js?t=1"></script>




<!-- Outpush -->
<script>
    window.pushMST_config = {
        "vapidPK": "BOuSS9Ab58f7TxbOO2JunHVSs_CnuxAfDhmQYWB4GwYYPqUn435_mK-7E31rrwegK9mNNg7Nxxsj6DMclsELUpk",
        "enableOverlay": true,
        "swPath": "/sw.js",
        "i18n": {}
    };

    var pushmasterTag = document.createElement('script');
    pushmasterTag.src = "https://cdn.pushmaster-cdn.xyz/scripts/publishers/67adfe577668086b0ced6c36/SDK.js";
    pushmasterTag.setAttribute('defer', '');

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(pushmasterTag, firstScriptTag);
</script>

    </body>
</html>
<!-- TEMPLATE UNIFICADO --><!-- 28/10/2025 16:19:00 --><!-- PORTAL:FINISH --><!-- fivenews -->