<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizualizar Charges</title>
</head>
<body>
    <body>
    <header class="headerUol">
        <h1 class="h1Uol">Barra da Uol</h1>
    </header>
    <header class="headerJc">
        <div>
            <h1 class="logoJc">Logo do Jc</h1>
            <h1 class="nomeJc">Sistema Jornal do Commercio de comunicação</h1>
        </div>
    </header>
    <header class="headerNav">
        <h1>Barra de navegação</h1>
    </header>

    <main class="mainCharges">
        <h2 class="tituloCharge">Charge - Thiago Lucas</h2>
        
        <div class="containerCharge">
            
            <div class="charge">
			<img src="{{ .charge.URL }}" alt="">
            </div>

            <div class="footerCharge">
        
                <span class="dataCharge">19/09/2025</span>
				
        
                <span class="nomeCharge">Nome da charge</span>
        
                <div class="botoesNavDaCharge">
                    <button class="botaoNav setaEsqueda"> < </button>
                    <button class="botaoNav setaDireita"> > </button>
                </div>
            </div>
        </div>
    </main>
</body>
</body>
</html>
